<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Mi primera aplicacion en Angular</h4>
      <span class="text-muted">Jecika Nataly Leon Linares.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="logout()">Salir Cuenta</button>
    </form>
  </nav><br><br>

  <section class="about-us-area section-padding-100-0">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>SOBRE NOSOTROS</h2>
                    <p>Se dice que hacemos parte y venimos de ella ¿Sabes de quien hablo?. La naturaleza, quiza te parezca algo exgerado lo que te acabo de contar, pero... ¿podría tener un grado de verdad?, te sorprenderias al ver la gran similitud que hay entre los humanos y las plantas, un gran vinculo olvidado que nos ha unido durante generaciones, y es precisamente ese vinculo del que queremos que hagas parte. En Green Rose, no somos únicamente una tienda de plantas, no, somos más que eso, nos encargamos de proporcionarte la mejor seleccion de Bonsais y Suculentas de la ciudad con cuidados alta calidad, esto con el fin de que encuentres armonia entre tu plata y tú, no hay nada más grato que ver como tu planta crece con el tiempo, con el amor y cuidado que le das, te sientes afortunado de poder precenciar como esta crece y se vuelve más hermosa con el pasar de los años.</p>
                </div>
                <!--<p>Quisque orci quam, vulputate non commodo finibus, molestie ac ante. Duis in sceleri quesem. Nulla sit amet varius nunc. Maecenas dui, tempeu ullam corper in.</p>-->
                <!-- Progress Bar Content Area -->
                <div class="alazea-progress-bar mb-50">
                    <!-- Single Progress Bar -->
                    <div class="single_progress_bar">
                        <p>Plantas de oficina</p>
                        <div id="bar1" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="80"></span>
                        </div>
                    </div>
                    
                    <!-- Single Progress Bar -->
                    <div class="single_progress_bar">
                        <p>Diseño de exteriores</p>
                        <div id="bar3" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="85"></span>
                        </div>
                    </div>

                    <!-- Single Progress Bar -->
                    <div class="single_progress_bar">
                        <p>Cuidado del jardín</p>
                        <div id="bar4" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="65"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="border-line"></div>
            </div>
        </div>
    </div>
</section>
  

</div>
